<div class="items-tile-view">
    <div class="row">
        <div ng-repeat="item in $ctrl.state.itemsPages.foundItems" class="col-xs-6 col-md-4">
            <div ui-sref="item({id: item.id})">
                <a class="pointer">
                    <img ng-src="{{ item.imageData }}" class="img-rounded tile-image">
                </a>
            </div>
            <div ui-sref="item({id: item.id})">
                <a class="pointer">
                {{ item.title }}
                </a>
            </div>
            <div ui-sref="item({id: item.id})">
                <a class="pointer">
                {{ item.prop_1 }}
                </a>
            </div>
            <div ui-sref="item({id: item.id})">
                <a class="pointer">
                {{ item.prop_2 }}
                </a>
            </div>
            <div ui-sref="item({id: item.id})">
                <a class="pointer">
                {{ item.prop_3 }}
                </a>
            </div>
        </div>
    </div>
</div>